<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEAFlix | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
{% load static %}
 <!-- NAVBAR -->
 <body class="bg-slate-800">
    <nav class="p-5 shadow md:flex md:items-center md:justify-between opacity-50" style="background-color:#BC1600;">
        <div>
            <span class="text-2x1 font-[Poppins] cursor-pointer">
                <img src= "{% static "KEAFLIX_ORIGINAL.png" %}" alt= "KEAFLIX" >
            </span>
        </div>

        <ul class="md:flex md:items-center">
            <li class="mx-4">
                <a href="" class="py-1 px-2 md:text-lg hover:text-red-500 duration-500">Home</a>
            </li>
            <li class="mx-4">
                <a href="" class="py-1 px-2 md:text-lg hover:text-red-500 duration-500">About</a>
            </li>
            {% if request.user.is_authenticated %}
            <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                <button class="bg-primary_red py-1 px-2 md:text-lg rounded-md hover:text-red-500 duration-500">
                    Sign out
                </button>
            </form>
            {% else %}
            <li class="mx-4">
                <button class="bg-primary_red py-1 px-2 md:text-lg rounded-md hover:text-red-500 duration-500">
                    <a href="{% url 'account_login' %}"> Sign in</a>
                </button>
            </li>
            {% endif %}
        </ul>
    </nav>
</body>
<!-- NAVBAR END -->