{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{movie.original_title}}
{% endblock title %}

{% block other %}

{% endblock other %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% block body_block %}
    {% include "partials/_navbar.html" %}
    <main class='bg-primary_black h-full w-full '>
        
        <video class="w-full h-screen player" preload="metadata" poster="{{movie.backdrop_path.url}}">
            <source src="{{movie.file.url}}">
        </video>
        
    </main>

{% endblock body_block %}